@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 194 0% 100%;
    --foreground: 194 0% 10%;
    --card: 194 0% 100%;
    --card-foreground: 194 0% 15%;
    --popover: 194 0% 100%;
    --popover-foreground: 194 95% 10%;
    --primary: 194 83.9% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 194 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 156 10% 95%;
    --muted-foreground: 194 0% 40%;
    --accent: 156 10% 90%;
    --accent-foreground: 194 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 194 0% 100%;
    --border: 194 20% 82%;
    --input: 194 20% 50%;
    --ring: 194 83.9% 61%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wallet-adapter-button-trigger,
.wallet-adapter-modal-wrapper {
  background-color: #2563eb !important;
}

.wallet-adapter-button-trigger:hover,
.wallet-adapter-modal-button-close,
.wallet-adapter-button:hover {
  background-color: #3b82f6 !important;
}
